body {
	background: black; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 600px;
    width: 100%;
    display:table;

}


@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

.estrellas {
	position: absolute;
	height: 100%;
	width: 100%;
	background: transparent
        url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130891/stars.png) repeat
		top center;
	z-index: 1;
	animation: move-twink-back 200s linear infinite;
}

img{
	width: 200px;
	height: 200px;
	object-fit: cover;
}


input{
	display:block;
}

.ingreso1, .ingreso2{
		width: 400px;
		margin:auto;

}

.agregar {
	margin:auto;
}

.listado{
	margin:100px;
}

h3, p, b{
	color: white;
}
